.ModalConfirmActions {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.ModalConfirmActionsNoNavigation {
  @media (max-width: 991px) {
    padding-bottom: var(--mr-navbar-height);
  }
}

.ButtonConfirm,
.ButtonCancel {
  width: 100% !important;
  height: 44px;
}
